<body class="container">

    <div id="nav" class="d-flex flex-wrap">
        <header class="flex-nowrap">
            <h1> Michael Downs</h1>
            <p>Full Stack Developer</p>
        </header>

        <div id="spacer" class="d-flex flex-grow-1"></div>

        <nav class="col-5 d-flex flex-nowrap">
            <ul class="nav nav-pills flex-nowrap">
                <li class="nav-link d-flex flex-nowrap">
                    <a id="nav-projects" href="#">Latest</a></li>
                <li class="nav-link d-flex flex-nowrap">
                    <a id="nav-about" href="#">About</a></li>
                <li class="nav-link d-flex flex-nowrap">
                    <a id="nav-blog" href="#">Blog</a></li>
                <li class="nav-item d-flex flex-nowrap">
                    <a class="nav-link" target="blank" href="https://www.linkedin.com/in/michaeldownssj"><img
                            src="assets/images/li-in-bug.png" alt="" width="25px" height="25px" /></a>
                </li>
            </ul>
        </nav>
    </div>

    <main id="container" class="content">
        <!-- About Me -->

        <article id="about">
            <img id="profile-img" src="assets/images/Portfolio-HeadShot-3.jpg" width="300px" />
            Michael is currently enrolled as a full time student at UC Berkeley Extension's Full Stack Development
            program.
            Michael delivers clean and polished applications in a collaborative environment. He is an effective
            communicator
            with an ability to translate technology into everyday language for clients and users.

            <br /><br />
            Michael is a collaborative teammate who will also manage individual tasks in order to get projects
            completed.
            Through his clear communication and leadership skills, he delivered successful projects that involved pair
            programming and virtual teams.
            <br /><br />

        </article>

        <!-- Highlights from the latest projects -->
        <section id="projects">

            <div id="jobkit" class="row d-flex flex-nowrap justify-content-around project">
                <div class="col-5 project-description">
                    <h3> JobKit Application Manager</h3>
                    <p>JobKit was created to organize all of this information in one place for users to leverage and
                        take a more active role in managing their job hunt, ensuring to follow up with the roles they’re
                        the most excited about among many JobKit allows you to actively track job applications and job
                        opportunities you are interested in acquiring.</p>

                    <p>JobKit is a Full Stack Application utilizing MySQL as the database to store the application
                        details such as multiple contacts and stages of the application process so you never lose the
                        information you receive from the recruiter and hiring company. Express-Handlebars enables the
                        application to display the Job Opportunities and Applications effecitvely on the browser page.
                    </p>
                    <p> </p>
                </div>
                <div class="col-5 card">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/images/applications-tracked.jpg" width="300px" />
                        <a href="https://job-kit.herokuapp.com/" class="card-link">JobKit</a>
                        <a href="https://github.com/chindowns/job-kit.git" class="card-link">Github
                            Repository</a>
                    </div>
                </div>
            </div>

            <div id="restaurant-wishlist" class="row d-flex flex-wrap justify-content-around project">
                <div class="col-5 card">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/images/Dining-Wishlist.gif" width="300px" />
                        <a href="https://afternoon-ridge-53194.herokuapp.com/" class="card-link">Restaurant
                            Listed</a>
                        <a href="https://github.com/chindowns/restaurant-wishlist" class="card-link">Github
                            Repository</a>
                    </div>
                </div>
                <div class="col-5 project-description">
                    <h3>Restaurant List</h3>
                    <p>The restaurant app has two lists where the user adds the restaurant to the list then moves it between the two lists. The app utilizes a true / false switch and mysql to move the restaurants between the two lists.
                    </p>

                    <p>Utilizing Handlebars for templates and sequelize for the ORM, the app does not use index.html files. When the user loads the page, they are given the ability to add more restaurants they want to eat at or remove restaurants they want to forget.
                    </p>
                </div>
            </div>

            <div id="project-covid" class="row d-flex flex-nowrap justify-content-around project">
                <div class="col-5 project-description">
                    <h3> Covid-19 Pandemic Tracker</h3>
                    <p>Covid-19 Tracker enables user to see what is happening around the world regarding the Covid-19 Pandemic on one screen. Select one of the top 10 hotspots around the World and see live updates of how many cases have been Confirmed, Recovered, and Deaths associated to Covid-19 in that country. Along side the map, the news displays the latest headlines regarding health news in that country.
                    </p>

                    <p>In the United States, the user has the ability to zoom into the US, select the marker in the state and see a chart that plots confirmed cases by day for that state.
                    </p>

                    <p>This site utilizes Javascript AJAX calls to query the latest information from Covid-19 Data APIs and News API.
                    </p>
                </div>

                <div class="col-5 card">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/images/covid-19-tracker.png" width="300px" />
                        <a href="https://chindowns.github.io/covid19-tracker/" class="card-link">Covid-19 Pandemic
                            Tracker</a>
                        <a href="https://github.com/chindowns/covid19-tracker" class="card-link">Github
                            Repository</a>
                    </div>
                </div>
            </div>

            <div id="project-weather" class="row d-flex flex-wrap justify-content-around project">
                <div class="col-5 card">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/images/weather-app.jpg" width="300px" />
                        <a href="https://chindowns.github.io/weather/" class="card-link">Weather App</a>
                        <a href="https://github.com/chindowns/weather" class="card-link">Github Repository</a>
                    </div>
                </div>
                <div class="col-5 project-description">
                    <h3>Weather App</h3>
                    <p>The Weather App is a weather dashboard with clean, polished, responsive, and pleasingly friendly weather
                        dashboard that utilizes weatherapi.com as the 3rd party API providing access to all the cities around the world.</p>

                    <p>The site utilizes a search bar where the user can type in their city search and click on the search icon, hit enter or tab to pull the data for a city filtered in the United States. This app utilizes: HTML, CSS, jQuery, and JavaScript.</p>

                </div>
            </div>
        </section>

        <!-- Blog RSS Feed -->
        <article id="blog">
            {{#each blog}}
                {{> blog-block}}
            {{/each}}
        </article>

        <footer id="footer" class="d-inline-flex justify-content-around">
            <p style="color:lightgrey">chindowns@gmail.com</p>
            <p style="color:lightgrey;">Copyright &copy;2020</p>
        </footer>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>